.header-container {
  max-width: 1218px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-container {
  max-width: 1153px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.about-container {
  max-width: 1120px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.features-container {
  max-width: 1163px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.testimonials-container {
  max-width: 1117px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-container {
  max-width: 1149px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
